/* Ini file css */

* {
  scroll-behavior: smooth;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  height: 50px;
  width: 50px;
  background-image: url(/images/logo.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

nav {
  display: flex;
}

nav > a {
  padding: 10px 30px;
  border: 1px solid;
  text-decoration: none;
  color: black;
}

.description {
  width: 50%;
  text-align: justify;
}

.banner-img {
  border: 1px solid;
  height: 500px;
}

.skills-content {
  border: 1px solid;
  height: 500px;
  align-content: center;
  text-align: center;
}

.achievement-content {
  border: 1px solid;
  height: 500px;
  align-content: center;
  text-align: center;
}

.message-us-content {
  border: 1px solid;
  height: 500px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-nama {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.input-nama {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}

.label-nama {
  flex: 0 0 100px;
}

.jenis-kelamin {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.submit-box {
  height: 100px;
  border: 1px solid black;
  width: 40%;
}

.form {
  width: 50%;
}

footer {
  text-align: right;
}
